*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto';
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 20rem; /*Medida que obteve (aqui) o mesmo posivionamento que o exemplo dado no módulo*/
    
    
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header, footer{
    background-color: #527271;
    padding-top: 16px;
    color: #FFD483;
}

header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}



body{
    background-color: #A5A5A5;
}

nav {
    background-color: #65AE89;
    padding: 16px 0;
}

nav li{
    list-style: none;
    padding: 18px;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #324B4A;
    text-decoration: none;

}

h1, h2, h3, p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img{
    border: solid 1.5px;
    border-color: #068545;
}


.menu-hamburguer{
    width: 32px;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color:#324B4A;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}


#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

#sobre-a-loja p{
    padding: 6px;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

section h2{
    color: #FFD483;
    
}

.lista-servicos{
    flex-wrap: wrap;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    
}

.lista-servicos li{
    list-style: none;
    max-width: 25%;
    margin-bottom: 24px;
}

.lista-servicos li p {
    padding: 14px;
}

.lista-servicos li strong{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lista-servicos li button{
    margin: 16px 0;
}

.lista-servicos li img{
    max-width: 100%;
}

.lista-servicos li h3{
    margin: 16px 0;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #FFD483;
    color: #068545;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 6px;
}


.item-central{
    margin: 0 5%;
    
}

.price{
    margin: 16px 0;
    display: block;
}

.price del{
    color: #527271;
    font-size: 14px;
}

.form-campo{
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
    color: #FFD483;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

.form-campo input{
    padding: 8px;
    width: 100%;
    display: block;
    border: solid 1.5px;
    border-color: #068545;
}

form{
    max-width: 360px;
}

form button{
    max-width: 120px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img{
    height: 32px;
}



